<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                    <key>UISceneStoryboardFile</key>
                    <string>Main</string>
                </dict>
            </array>
        </dict>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show it on the map</string>
    <key>CFBundleIdentifier</key>
    <string></string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need your location to enhance your experience even when the app is in the background</string>
    <key>NSHealthShareUsageDescription</key>
    <string>Please give us health data to try the health functionalities</string>
    <key>GIDClientID</key>
    <string>503499248889-jb3cpasrmc02g0bqf8q2hdmt2cie7s18.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.503499248889-jb3cpasrmc02g0bqf8q2hdmt2cie7s18</string>
        </array>
      </dict>
    </array>
</dict>
</plist>
